* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
}

#lists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#lists > div {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Buttons,
.users {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button,
p {
  border: 1px solid white;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 1rem;
}
.selected {
  background-color: red;
}

@media (max-width: 600px) {
  #lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2 {
    font-size: 0.5em;
  }
  button,
  p {
    border: 1px solid white;
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 0.5em;
    padding: 0;
  }
}
